.i{
  display: flex;
  height: 100vh;
}

.i-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right{
  flex: 1;
  position: relative;
}

.i-left-wrapper{
  height: 35%;
  display:flex;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro{
  font-size: 3vh;
  font-weight: 300;
}

.i-name{
  font-size: 10vh;
}

.i-title{
  height: 5vh;
  overflow: hidden;
}

.i-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  20% {
    transform: translateY(-5vh);
  }
  40% {
    transform: translateY(-10vh);
  }
  60% {
    transform: translateY(-15vh);
  }
  80% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(-25vh);
  }
}

.i-title-item{
  height: 5vh;
  display: flex;
  font-size: 4vh;
  font-weight: bold;
  align-items: center;
  color: cornflowerblue;
}

.i-desc{
  font-size: 2.5vh;
}

.i-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.i-scroll{
  width: 3vh;
  height: 3vh;
  bottom: 2vh;
  position: absolute;
}

.i-right {
  flex: 1 1;
  position: relative;
}

.i-right-bg{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: cornflowerblue;
  clip-path: polygon(0% 100%, 100% 70%, 100% 100%);
}

.i-right-content{
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  
}
  
.a-title{
  font-size: 3.5vh;
}

.a-desc{
  font-size: 2vh;
  margin-top: 3vh;
  text-align: justify;
}

.a-left {
  flex: 1 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.a-card {
  width: 60%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 30px;
}

.a-card.bg {
  top: 70px;
  left: 70px;
  position: absolute;
  background-color: cornflowerblue;
}

.a-certs {
  display: block;
  position: relative;
  align-items: center;
}

.a-ufsc {
  width: 70%;
  display: block;
  margin-left: 5vh;
  align-items: center;
}

.a-ufsc-img {
  width: 70%;
  margin-bottom: 2vh;
}

.a-ufsc-title {
  color: #555;
  font-weight: bold;
}

.a-ufsc-text {
  color: #555;
  font-size: 2vh;
  text-align: justify;
}

.a-neuro {
  width: 70%;
  display: block;
  margin-top: 5vh;
  margin-left: 5vh;
  align-items: center;
}

.a-neuro-img {
  width: 50%;
  margin-bottom: 2vh;
}

.a-neuro-title {
  color: #555;
  font-weight: bold;
}

.a-neuro-text {
  color: #555;
  font-size: 2vh;
  text-align: justify;
}

.a-img {
  height: 100%;
  object-fit: cover;
}